<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css" />
    <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    <title>Passport</title>


       <!-- link to css -->
    <link rel="stylesheet"  href="public/styles/styles.css" />
    <!-- bootstrap css -->
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
</head>

<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light; padding: 2.5rem 1rem; " style="background: -webkit-linear-gradient(90deg, #00ab80, #00a980 50%, #026d6d););" >
        <a class="nav-link" href="/">Garage Sale</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" style="margin-left: 1120px" ;>
                <li class="nav-item active">
                    <a class="nav-link" href="./profile">Profile <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="./sell">Sell <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="./myitem">My Itmes<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="./cart">Cart <span class="sr-only">(current)</span></a>
                </li>


            </ul>
        </div>
    </nav>
    <br>
    <div class="input-group mb-3" style="  width: 25%;    margin-left: 1130px;">
        <input type="text" class="form-control" placeholder="Search" aria-label="Search"
            aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
        </div>
    </div>
    <br>
    <div class="dropdown" style="margin-top:-78px;margin-left:1022px;">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Price
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Price up</a>
            <a class="dropdown-item" href="#">Price down</a>

        </div>
    </div>
    <br>
    <div class="dropdown" style="margin-top:-61px;margin-left:880px;">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Category
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="./furniture">Furniture</a>
            <a class="dropdown-item" href="./clothes">Clothes</a>
            <a class="dropdown-item" href="/autos">Auto</a>
            <a class="dropdown-item" href="./electircs">Electrics</a>
            <a class="dropdown-item" href="./books">Books</a>
        </div>
    </div>
    {{{ body }}}


    <!-- JS -->
    <script src="assests/javascript/app.js"></script>
    <script src="assests/javascript/weather.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>

</body>

</html>