<br>
<br>
<br>
<div class="row" style="margin: auto 130px;">
    <div class="column">
        <div class="card" style="margin-left:10px; width: 15rem;background-color: #9cc0d270;box-shadow: 5px 5px 5px #054741cf;">

            <img src="../image/honda.jpg" class="card-img-top" alt="furniture" width="150" height="150">
            <div class="card-body">
                <h3 class="pt-3">
                    <h5 class="card-text">$18,500 </h5>
                    <p class="card-text">2012 Honda Accord EXL</p>
                   

                </h3>
            </div>
        </div>
    </div>

    <br>
    <div class="column">
        <div class="card" style="margin-left:10px; width: 15rem;background-color:#9cc0d270;box-shadow: 5px 5px 5px #054741cf;">

            <img src="../image/lincoln.jpg" class="card-img-top" alt="furniture" width="150" height="150">
            <div class="card-body">
                <h3 class="pt-3">
                    <h5 class="card-text">9,700 </h5>
                    <p class="card-text">Lincoln MKT 2013</p>
                    

                </h3>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card" style="margin-left:10px; width: 15rem;background-color: #9cc0d270;box-shadow: 5px 5px 5px #054741cf;">

            <img src="../image/white camero.jpg" class="card-img-top" alt="furniture" width="150" height="150">
            <div class="card-body">
                <h3 class="pt-3">
                    <h5 class="card-text">$21,000 </h5>
                    <p class="card-text">2015 White Camero rs-21t</p>

                </h3>
            </div>
        </div>
    </div>


    <div class="column">
        <div class="card" style="margin-left:10px; width: 15rem;background-color: #9cc0d270;box-shadow: 5px 5px 5px #054741cf;">

            <img src="../image/auto malibu.jpg" class="card-img-top" alt="furniture" width="150" height="150">
            <div class="card-body">
                <h3 class="pt-3">
                    <h5 class="card-text">$16,587 </h5>
                    <p class="card-text">2018 White Chevrolet Malibu</p>
                    
                </h3>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card" style="margin-left:10px; width: 15rem;background-color: #9cc0d270;box-shadow: 5px 5px 5px #054741cf;">

            <img src="../image/auto hyundai.jpg" class="card-img-top" alt="furniture" width="150" height="150">
            <div class="card-body">
                <h3 class="pt-3">
                    <h5 class="card-text">$6,000 </h5>
                    <p class="card-text">2012 Hyundai Sonata</p>

                </h3>
            </div>
        </div>
    </div>

</div>