<br>
<br>
<br>
<div class="row" style="margin-left:10px;">
    <div class="column">
        <div class="card" style="margin-left:10px; width: 15rem;">

            <img src="../image/book civil service.jpg" class="card-img-top" alt="furniture" width="150" height="150">
            <div class="card-body">
                <h3 class="pt-3">
                    <h5 class="card-text">$5 </h5>
                    <p class="card-text">civil service study guide book</p>
                   

                </h3>
            </div>
        </div>
    </div>

    <br>
    <div class="column">
        <div class="card" style="margin-left:10px; width: 15rem;">

            <img src="../image/book The wizard of off 1944.jpg" class="card-img-top" alt="furniture" width="150" height="150">
            <div class="card-body">
                <h3 class="pt-3">
                    <h5 class="card-text">$35 </h5>
                    <p class="card-text">The wizard of oz 1944</p>
                    

                </h3>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card" style="margin-left:10px; width: 15rem;">

            <img src="../image/book The American parade a magaine in.jfif" class="card-img-top" alt="furniture" width="150" height="150">
            <div class="card-body">
                <h3 class="pt-3">
                    <h5 class="card-text">$137 </h5>
                    <p class="card-text">The American parade a magaine in book</p>

                </h3>
            </div>
        </div>
    </div>


    <div class="column">
        <div class="card" style="margin-left:10px; width: 15rem;">

            <img src="../image/book low fat begetarian cook book.jfif" class="card-img-top" alt="furniture" width="150" height="150">
            <div class="card-body">
                <h3 class="pt-3">
                    <h5 class="card-text">$4.19 </h5>
                    <p class="card-text"> low fat begetarian cook book</p>
                    
                </h3>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card" style="margin-left:10px; width: 15rem;">

            <img src="../image/book comic books.jpg" class="card-img-top" alt="furniture" width="150" height="150">
            <div class="card-body">
                <h3 class="pt-3">
                    <h5 class="card-text">$275 </h5>
                    <p class="card-text">Comic books</p>

                </h3>
            </div>
        </div>
    </div>

</div>