  <br>
    <br>
    <br>
    <div class="row" style="margin-left:10px;">
        <div class="column">
            <div class="card" style="margin-left:10px; width: 15rem;">
                <h6><a href="auto.html"></a></h6>
                <img src="../image/cherry dinning.jpg" class="card-img-top" alt="furniture" width="150" height="150">
                <div class="card-body">
                    <h3 class="pt-3">
                        <h5 class="card-text">$1208.49 </h5>
                        <p class="card-text">Furniture of America Ravena Oak 7-Piece Cherry Dinette Set</p>

                    </h3>
                </div>
            </div>
        </div>

        <br>
        <div class="column">
            <div class="card" style="margin-left:10px; width: 15rem;">
                <h6><a href="auto.html"></a></h6>
                <img src="../image/bar stool.jpg" class="card-img-top" alt="furniture" width="150" height="150">
                <div class="card-body">
                    <h3 class="pt-3">
                        <h5 class="card-text">$79 </h5>
                        <p class="card-text">Contemporary Adjustable Bar Stool in Silver with unique tufting</p>

                    </h3>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card" style="margin-left:10px; width: 15rem;">
               
                <img src="../image/black sofa.jpg" class="card-img-top" alt="furniture" width="150" height="150">
                <div class="card-body">
                    <h3 class="pt-3">
                        <h5 class="card-text">$1,199 </h5>
                        <p class="card-text">Black Belbet 3pc livingroom set</p>

                    </h3>
                </div>
            </div>
        </div>


        <div class="column">
            <div class="card" style="margin-left:10px; width: 15rem;">
               
                <img src="../image/corner ladder shelf.jpg" class="card-img-top" alt="furniture" width="150" height="150">
                <div class="card-body">
                    <h3 class="pt-3">
                        <h5 class="card-text">$199 </h5>
                        <p class="card-text">Cherry Corner Ladder Shelf</p>

                    </h3>
                </div>
            </div>
        </div>



        <div class="column">
            <div class="card" style="margin-left:10px; width: 15rem;">
             
                <img src="../image/padded leatherette.jpg" class="card-img-top" alt="furniture" width="150" height="150">
                <div class="card-body">
                    <h3 class="pt-3">
                        <h5 class="card-text">$249 </h5>
                        <p class="card-text">Padded Leatherette Swirel Chair in White with biscuit chrome base</p>

                    </h3>
                </div>
            </div>
        </div>


    </div>