<div class="row" style="margin-left:332px; margin-top:170px;">
    <div class="column">
        <div class="card" style="margin-left:1px; width: 10rem; background-color: #9cc0d270;;text-align: center;">
            <img src="./image/clothes.jpg" alt="Clothes" width="157" height="150">
            <div class="img-caption">
                <h3 class="pt-3">
                    <a href="/items/clothes">Clothes</a>
                </h3>
            </div>
        </div>
    </div>
    <br>
     <div class="column">
        <div class="card" style="margin-left:1px; width: 10rem; background-color: #9cc0d270;;text-align: center;">
            <img src="../image/auto.jfif"  alt="Clothes" width="157" height="150">
            <div class="img-caption">
                <h3 class="pt-3">
                    <a href="/items/autos">Auto</a>
                </h3>
            </div>
        </div>
    </div>
    <br>
    <br>
     <div class="column">
        <div class="card" style="margin-left:1px; width: 10rem; background-color: #9cc0d270;;text-align: center;">
            <img src="../image/books.jfif" alt="Clothes" width="157" height="150">
            <div class="img-caption">
                <h3 class="pt-3">
                     <a href="/items/books">Books</a>
                </h3>
            </div>
        </div>
    </div>

     <div class="column">
        <div class="card" style="margin-left:1px; width: 10rem; background-color:#9cc0d270;;text-align: center;">
            <img src="./image/padded-leatherette.jpg" alt="Furniture" width="157" height="150">
            <div class="img-caption">
                <h3 class="pt-3">
                    <a href="/items/furniture">Furniture</a>
                </h3>
            </div>
        </div>
    </div>
<br>
    <div class="column">
        <div class="card" style="margin-left:1px; width: 10rem; background-color: #9cc0d270;;text-align: center;">
            <img  src="../image/electronics.jfif"alt="Clothes" width="157" height="150">
            <div class="img-caption">
                <h3 class="pt-3">
                   <a href="/items/electronics">Electronics</a>
                </h3>
            </div>
        </div>
    </div>

   
    









</div>


</div>