<div class="row" style="margin-left:332px; margin-top:170px;">
        <div class="column">
            <h6><a href="clothes.html"></a></h6>
            <img src="./image/clothes.jpg" alt="Clothes" width="150" height="150">
            <div class="img-caption">
                <h3 class="pt-3">
                    <a href="./clothes">Clothes</a>
                </h3>
            </div>
        </div>
        </a>
        <br>

        <div class="img-wrap" style="margin-left:10px;">
            <h6><a href="auto.html"></a></h6>
            <img src="../image/auto.jfif" alt="Auto" width="150" height="150">
            <div class="img-caption">
                <h3 class="pt-3">
                    <a href="./autos">Auto</a>
                </h3>
            </div>
        </div>
        </a>

        <div class="img-wrap" style="margin-left:10px;">
                <h6><a href="auto.html"></a></h6>
                <img src="../image/books.jfif" alt="Auto" width="150" height="150">
                <div class="img-caption">
                    <h3 class="pt-3">
                        <a href="./books">Books</a>
                    </h3>
                </div>
            </div>
            </a>

            <div class="img-wrap" style="margin-left:10px;">
                    <h6><a href="auto.html"></a></h6>
                    <img src="../image/electronics.jfif" alt="Auto" width="150" height="150">
                    <div class="img-caption">
                        <h3 class="pt-3">
                            <a href="./electircs">Electrics</a>
                        </h3>
                    </div>
                </div>
                </a>
        
        <br>

        <div class="img-wrap" style="margin-left:10px;">
            <h6><a href="furniture.html"></a></h6>
            <img src="../image/furniture.jfif" alt="furniture" width="150" height="150">
            <div class="img-caption">
                <h3 class="pt-3">
                    <a href="./furniture">Furniture</a>
                </h3>
            </div>
        </div>
    </div>
    </a>

    <br>

   

    

    </div>


    </div>