<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="home.html">Garage Sale</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" style="margin-left: 1120px;">
                <li class="nav-item active">
                    <a class="nav-link" href="./profile.html">Profile <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="./upload.html">Upload <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="./myitems.html">My Itmes<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="./cart.html">Cart <span class="sr-only">(current)</span></a>
                </li>


            </ul>
        </div>
    </nav>


<form action="">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Catagory</label>
        <select class="form-control" id="catagorySelect">
          <option> </option>
          <option>Books</option>
          <option>Auto</option>
          <option>Clothes</option>
          <option>Electronics</option>
          <option>Furniture</option>
        </select>
      </div>
    <br>
    <label for="exampleFormControlTextarea13">Name</label>
      <input class="form-control" id="itemName" type="text" placeholder="Enter Name">
    <br>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" id="descriptionTextArea" rows="3"></textarea>
      </div>
      <label for="exampleFormControlTextarea12">Price</label>
      <input class="form-control" id="priceInput" type="text" placeholder="Enter Price">
      <small class="form-text text-muted">
        Example: 3.99
      </small>
      <br>
      <button type="submitItem" id="button555" class="btn btn-primary">Submit</button>

</form>