<form id="signin" name="signin" method="post" action="signin" style="margin: auto 453px;">
    <label for="email">Email Address</label>
    <input class="text" name="email" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <input class="btn" type="submit" value="Sign In" />
</form>

  <a href="./signup.hbs" style="margin-top: 130px;
    margin-left: 700px;">Sign Up</a>